<main>
    <section class="anime">
        <img src="/static/crasow.ico" alt="Profile Picture">
        <div class="details">
            <h2 class="anime">About Me</h2>
            <p>I am a Python and C# developer. Currently studying at the International Humanitarian University in Odessa, Ukraine. Working in "Telecard Prilad" as C# mobile developer. We use Xamarin.Forms framework</p>
        </div>
    </section>
    <section class="projects">
        <h2>My Projects</h2>
        <ul>
            <li>
                <a href="#">Project 1</a>
                <p>Description of project 1.</p>
            </li>
            <li>
                <a href="#">Project 2</a>
                <p>Description of project 2.</p>
            </li>
            <li>
                <a href="#">Project 3</a>
                <p>Description of project 3.</p>
            </li>
        </ul>
    </section>
</main>
